<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Classic AH - WoW Auctions[[${title}]]</title>
    <meta name="description"
          content="Search engine for Classic World of Warcraft Auction House pricing data and graphs">
    <link rel="stylesheet" href="/fonts.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" as="font">
    <link rel="preload" href="https://d2b9gcya89vi12.cloudfront.net/ico/misc/alliance_50.png" as="image">
    <link rel="preload" href="https://d2b9gcya89vi12.cloudfront.net/ico/misc/horde_50.png" as="image">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script data-ad-client="ca-pub-5441241398898122" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div id="react">
    </div>

    <script src="built/bundle.js"></script>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
</body>
</html>